:root {
  --primary: 214, 181, 46;
  --prim-dark: 168, 112, 12;
  --complimentary: 111, 143, 48;
  --comp-dark: 50, 54, 20;
  --light-gray: 248, 250, 252;
  --gray: 219, 232, 239;
  --dark-gray: 176, 185, 165;
  --off-black: 18, 20, 0;
}

html {
  font-family: "Noto Sans", sans-serif;
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
}

.image {
  flex: 1;
  width: 40%;
  max-width: 683px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-image: url("rose.jpg");
  background-origin: border-box;
  background-position: top center;
  position: relative;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 4rem;
  background-color: rgba(var(--comp-dark), 0.5);
  color: rgba(var(--light-gray), 0.9);
  margin: 0;
  padding: 1rem;
  padding-right: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

h1 > img {
  position: relative;
  top: 3px;
  left: -3px;
  height: 3.5rem;
  margin-right: 1rem;
  opacity: 0.9;
}

.image > div:first-child {
  flex: 1;
}

.image > div:last-child {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

h4 {
  background-color: rgba(var(--light-gray), 0.3);
  padding: 0 3px;
  margin: 0;
  color: rgba(var(--comp-dark), 1);
  font-size: 0.8rem;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--primary), 0.15);
}

.main > div:first-child,
.main > div:last-child {
  flex: auto;
  background-color: rgba(0, 0, 0, 0);
}

.main > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 30px 35px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

form {
  color: rgb(--off-black);
  background-color: white;
  padding: 15px 35px 30px;
  box-shadow: 0px 5px 20px rgba(var(--prim-dark), 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h2 {
  padding: 0;
  margin: 0 0 5px;
}

form > div {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

label {
  flex: 1;
  font-size: 0.8rem;
}

.main > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 0 35px;
}

button,
input {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
}

input {
  border: 1px solid rgb(var(--gray));
  border-radius: 3px;
}

input:focus {
  background-color: rgba(var(--primary), 0.05);
  border-color: rgb(var(--comp-dark), 0.5);
  outline: 0;
}

button {
  background-color: rgba(var(--comp-dark), 0.9);
  color: rgb(var(--light-gray));
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(var(--prim-dark), 0.4);
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: rgba(var(--comp-dark), 1);
}

button:active {
  background-color: rgba(var(--comp-dark), 0.8);
}

h3 {
  font-weight: 400;
}

a {
  font-weight: 600;
  color: rgb(var(--complimentary));
}

a:visited {
  color: rgb(var(--comp-dark));
}
