:root {
  --primary: 0;
  --complimentary: 0;
}

html {
  background-color: #f9fafb;
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
}

div {
  border: 1px solid red;
}

.image {
  width: 40%;
  max-width: 683px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  background-image: url("rose.jpg");
  background-origin: border-box;
  background-position: top center;
  position: relative;
}

.image > h1 {
  background-color: rgba(18, 18, 30, 0.6);
  color: #dfe1df;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.image > div:first-child {
  flex: 1;
}

.image > div:last-child {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.image h4 {
}

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: #fffee9;
}

.main div {
  flex: auto;
}
